<div>
  <div class="nothing-image_container">
    <%= image_tag 'excuse_me-smol' %>
  </div>
  <div class="nothing-text_container">
    <h2>
      You haven't subscribed to any of the Publics yet
    </h2>
    <h2>
      Go see the trends
    </h2>
  </div>
  <div class="nothing-image_container">
  <a href="<%= publics_path %>" title="Okay">
    <%= image_tag 'okay' %>
  </a>
  </div>
</div>