<h2>Trends</h2>

<% Public.all.each do |public| %>
  
  <% public.posts.each do |public_post| %>
    <%= render partial: 'postcard', locals: { post: public_post, user_likes: @user_likes } %>
  <% end %>
<% end %>