/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

a {
  color: red;
  text-decoration: none;
}

main#AppFrameMain {
  background-color: #222;
  color: white;
}

textarea.Polaris-TextField__Input {
  background-color: #aaa;
}

input {
  background-color: #aaa !important;
  color: black !important;
}

.custom-main_container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.custom-narrow_container {
  max-width: 500px;
  margin: 0 auto;
}

.Polaris-Button--primary {
  background: linear-gradient(to bottom, #ff0000, #a70000);
  border-color: #5a0404;
  box-shadow: inset 0 1px 0 0 #c86767, 0 1px 0 0 rgba(22,29,37,0.05), 0 0 0 0 transparent;
}

.Polaris-Button--primary:hover {
  background: linear-gradient(to bottom, #cf0000, #810000);
  border-color: #3a0000;
}

.Polaris-Button--primary.Polaris-Button--post {
  width: 500px;
  margin-bottom: 20px; 
}

main#AppFrameMain .Polaris-Checkbox .Polaris-Checkbox__Backdrop {
  background-color: red;
}

.Polaris-Icon svg {
  fill: red;
}

.custom-notice {
  padding: 30px 0 0 0;
  text-align: center;
}

button.Polaris-Button.Polaris-Button--primary {
  margin-top: 20px;
}

#error_explanation {
  padding: 20px 0;
}

.error-notice {
  color: red;
}

.Polaris-FormLayout {
  margin-top: unset;
}

form {
  padding-top: 20px;
}

.post-container {
  max-width: 500px;
  margin: auto;
  background-color: #333;
  margin-bottom: 5px;
  padding: 10px;
  max-height: 550px;
  width: 500px;
}

.post-container img {
  width: 500px;
  height: 300px;
  object-fit: contain;
  width: fit-content;
}

.post-header {
  padding-bottom: 10px;
}

.post-credentials {
  color: #999;
  font-size: 12px;
}

.post-title {
  font-size: 16px;
  font-weight: bold;
}

.post-text {
  max-height: 120px;
  overflow: hidden;
  margin-bottom: 10px;
}

.post-image {
  display: flex;
}

.post-footer {
  height: 30px;
  margin-top: 10px;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
}

.post-footer > div {
  width: 33.33%;
  text-align: center;
}

.post-footer .post-reactions {
  justify-content: space-evenly;
}

.post-footer svg {
  height: 30px;
  width: 30px;
}

.post-reactions {
  display: flex;
}

.post-footer svg path {
  fill: #999;
}

.post-footer svg path.active {
  fill: red;
}

.post-footer svg:hover {
  fill: white;
}

.post-reactions form {
  all: unset;
}

.post-reactions button {
  all: unset;
  cursor: pointer;
}

.post-likes, .post-dislikes {
  display: flex;
}

.post-like {
  color: #999;
  align-self: center;
  padding-right: 5px;
}

.post-dislike {
  color: #999;
  align-self: center;
  padding-left: 5px;
}

.post-comment {
  display: flex;
  justify-content: center;
}

.comment {
  padding: 10px;
  background: #292929;
  margin-bottom: 5px;
}

.nothing-text_container, .nothing-image_container {
  text-align: center;
}

@media only screen and (max-width: 750px) {
  .custom-main_container {
    padding: 0 10px;
  }
}