<% content_for :head do %>
  <link rel="stylesheet" href="/assets/stylesheets/header.scss"> 
<% end %>
<div id="header">

  <div class="Polaris-Frame Polaris-Frame--hasTopBar" data-polaris-layer="true">
    
    <div class="Polaris-Frame__Skip">
      <a class="Polaris-Button" href="#AppFrameMainContent" data-polaris-unstyled="true">
        <span class="Polaris-Button__Content">
          <span class="Polaris-Button__Text">Skip to content</span>
        </span>
      </a>
    </div>
    
    <div class="Polaris-Frame__TopBar" data-polaris-layer="true" data-polaris-top-bar="true" id="AppFrameTopBar">
      <div class="Polaris-TopBar">
        
        <button type="button" class="Polaris-TopBar__NavigationIcon" aria-label="Toggle menu">
          <span class="Polaris-Icon"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
              <path d="M19 11H1a1 1 0 0 1 0-2h18a1 1 0 1 1 0 2zm0-7H1a1 1 0 0 1 0-2h18a1 1 0 1 1 0 2zm0 14H1a1 1 0 0 1 0-2h18a1 1 0 0 1 0 2z"></path>
            </svg>
          </span>
        </button>
        
        <div class="Polaris-TopBar__LogoContainer">
          <a class="Polaris-TopBar__LogoLink" href="/" data-polaris-unstyled="true" style="width: 124px;">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 667 124" width="667" height="124" class="Polaris-TopBar__Logo" style="width: 124px;">
            <style>
              tspan { white-space:pre }
            </style>
            <path id="MEMESTERS " fill="#ff0000" d="M-1.16 126L-1.16 0.15L99.04 0.15L99.04 126L-1.16 126ZM91.54 108.9L91.54 16.05L91.69 15.9L70.54 15.9L70.54 16.05L48.79 78.75L27.04 15.9L5.74 15.9L5.74 108.9L26.74 108.9L26.74 75.45L38.29 108.9L59.29 108.9L70.54 76.5L70.54 108.9L91.54 108.9ZM96.94 126L96.94 0.15L165.64 0.15L165.64 126L96.94 126ZM123.49 36.9L159.49 36.9L159.49 15.9L102.49 15.9L102.49 108.9L159.49 108.9L159.49 87.9L123.49 87.9L123.49 72.9L150.04 72.9L150.04 51.9L123.49 51.9L123.49 36.9ZM163.09 126L163.09 0.15L263.29 0.15L263.29 126L163.09 126ZM255.79 108.9L255.79 16.05L255.94 15.9L234.79 15.9L234.79 16.05L213.04 78.75L191.29 15.9L169.99 15.9L169.99 108.9L190.99 108.9L190.99 75.45L202.54 108.9L223.54 108.9L234.79 76.5L234.79 108.9L255.79 108.9ZM261.19 126L261.19 0.15L329.89 0.15L329.89 126L261.19 126ZM287.74 36.9L323.74 36.9L323.74 15.9L266.74 15.9L266.74 108.9L323.74 108.9L323.74 87.9L287.74 87.9L287.74 72.9L314.29 72.9L314.29 51.9L287.74 51.9L287.74 36.9ZM326.59 0.3L396.19 0.3L396.19 126.15L326.59 126.15L326.59 0.3ZM388.24 80.25Q388.24 74.4 385.99 69.3Q383.74 64.05 379.84 60.3Q375.94 56.4 370.69 54.3Q365.44 52.05 359.59 52.05Q356.29 52.05 354.04 50.1Q351.79 48 351.79 44.85Q351.79 44.1 352.09 42.6Q352.84 40.2 354.94 38.7Q357.04 37.2 359.59 37.2Q362.74 37.2 364.99 39.45Q367.24 41.7 367.24 44.85L388.24 44.85Q388.24 39 385.99 33.75Q383.74 28.5 379.84 24.6Q375.94 20.55 370.69 18.3Q365.44 16.05 359.59 16.05Q354.79 16.05 350.29 17.55Q345.94 19.05 342.34 21.75Q338.74 24.45 336.04 28.2Q333.49 31.95 332.14 36.3Q330.79 40.35 330.79 44.85Q330.79 50.85 333.04 55.95Q335.44 61.05 339.34 64.95Q343.24 68.7 348.34 70.95Q353.59 73.05 359.59 73.05Q362.74 73.05 364.99 75.15Q367.24 77.1 367.24 80.4Q367.24 81.15 366.94 82.65Q366.19 85.05 364.09 86.55Q362.14 88.05 359.59 88.05Q356.29 88.05 354.04 85.8Q351.79 83.55 351.79 80.25L330.79 80.25Q330.79 86.25 333.04 91.5Q335.29 96.75 339.19 100.65Q343.09 104.55 348.34 106.8Q353.59 109.05 359.59 109.05Q364.39 109.05 368.74 107.55Q373.24 106.05 376.84 103.35Q380.44 100.65 382.99 96.9Q385.69 93.15 387.04 88.8Q388.24 84.45 388.24 80.25ZM391.99 126.15L391.99 0.3L465.94 0.3L465.94 126.15L391.99 126.15ZM439.24 37.05L460.39 37.05L460.39 16.05L397.09 16.05L397.09 37.05L418.24 37.05L418.24 109.05L439.24 109.05L439.24 37.05ZM463.99 126L463.99 0.15L532.69 0.15L532.69 126L463.99 126ZM490.54 36.9L526.54 36.9L526.54 15.9L469.54 15.9L469.54 108.9L526.54 108.9L526.54 87.9L490.54 87.9L490.54 72.9L517.09 72.9L517.09 51.9L490.54 51.9L490.54 36.9ZM529.39 0.15L599.74 0.15L599.74 126L529.39 126L529.39 0.15ZM573.19 108.9L594.94 108.9L577.24 70.5Q584.44 67.05 588.79 60.3Q593.14 53.4 593.14 44.85Q593.14 38.85 590.74 33.6Q588.49 28.35 584.59 24.45Q580.69 20.4 575.44 18.15Q570.19 15.9 564.19 15.9L564.04 15.9L535.84 15.9L535.84 108.9L556.84 108.9L556.84 73.65L556.99 73.65L573.19 108.9ZM597.19 0.3L666.79 0.3L666.79 126.15L597.19 126.15L597.19 0.3ZM658.84 80.25Q658.84 74.4 656.59 69.3Q654.34 64.05 650.44 60.3Q646.54 56.4 641.29 54.3Q636.04 52.05 630.19 52.05Q626.89 52.05 624.64 50.1Q622.39 48 622.39 44.85Q622.39 44.1 622.69 42.6Q623.44 40.2 625.54 38.7Q627.64 37.2 630.19 37.2Q633.34 37.2 635.59 39.45Q637.84 41.7 637.84 44.85L658.84 44.85Q658.84 39 656.59 33.75Q654.34 28.5 650.44 24.6Q646.54 20.55 641.29 18.3Q636.04 16.05 630.19 16.05Q625.39 16.05 620.89 17.55Q616.54 19.05 612.94 21.75Q609.34 24.45 606.64 28.2Q604.09 31.95 602.74 36.3Q601.39 40.35 601.39 44.85Q601.39 50.85 603.64 55.95Q606.04 61.05 609.94 64.95Q613.84 68.7 618.94 70.95Q624.19 73.05 630.19 73.05Q633.34 73.05 635.59 75.15Q637.84 77.1 637.84 80.4Q637.84 81.15 637.54 82.65Q636.79 85.05 634.69 86.55Q632.74 88.05 630.19 88.05Q626.89 88.05 624.64 85.8Q622.39 83.55 622.39 80.25L601.39 80.25Q601.39 86.25 603.64 91.5Q605.89 96.75 609.79 100.65Q613.69 104.55 618.94 106.8Q624.19 109.05 630.19 109.05Q634.99 109.05 639.34 107.55Q643.84 106.05 647.44 103.35Q651.04 100.65 653.59 96.9Q656.29 93.15 657.64 88.8Q658.84 84.45 658.84 80.25Z" />
          </svg>
          </a>
        </div>
        
        <div class="Polaris-TopBar__Contents">
          
          <div class="Polaris-TopBar__SearchField">
            <div class="Polaris-TopBar-SearchField">
              <span class="Polaris-VisuallyHidden">
                <label for="PolarisSearchField1">Search</label>
              </span>
              <input id="PolarisSearchField1" class="Polaris-TopBar-SearchField__Input" placeholder="Search" type="search" autocapitalize="off" autocomplete="off" autocorrect="off" value="">
              <span class="Polaris-TopBar-SearchField__Icon">
                <span class="Polaris-Icon">
                  <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                    <path d="M8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm9.707 4.293l-4.82-4.82A5.968 5.968 0 0 0 14 8 6 6 0 0 0 2 8a6 6 0 0 0 6 6 5.968 5.968 0 0 0 3.473-1.113l4.82 4.82a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414z"></path>
                  </svg>
                </span>
              </span>
              <div class="Polaris-TopBar-SearchField__Backdrop Polaris-TopBar-SearchField__BackdropShowFocusBorder"></div>
            </div>
            <div class="Polaris-TopBar-Search">
              <div class="Polaris-TopBar-Search__Results">
                <div class="Polaris-Card">
                  <div class="Polaris-ActionList">
                    <div class="Polaris-ActionList__Section--withoutTitle">
                      <ul class="Polaris-ActionList__Actions">
                        <li>
                          <button type="button" class="Polaris-ActionList__Item">
                            <div class="Polaris-ActionList__Content">
                              <div class="Polaris-ActionList__Text">Shopify help center</div>
                            </div>
                          </button>
                        </li>
                        <li>
                          <button type="button" class="Polaris-ActionList__Item">
                            <div class="Polaris-ActionList__Content">
                              <div class="Polaris-ActionList__Text">Community forums</div>
                            </div>
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- <div class="Polaris-TopBar__SecondaryMenu">
            <div>
              <div class="Polaris-TopBar-Menu__ActivatorWrapper">
                <button type="button" class="Polaris-TopBar-Menu__Activator" tabindex="0" aria-controls="Polarispopover1" aria-owns="Polarispopover1" aria-expanded="false">
                  <span>
                    <span class="Polaris-Icon">
                      <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                        <path fill-rule="evenodd" d="M0 10C0 4.478 4.478 0 10 0c5.523 0 10 4.478 10 10 0 5.523-4.477 10-10 10-5.522 0-10-4.477-10-10zm11.125 2.002H8.989v-.141c.01-1.966.492-2.254 1.374-2.782.093-.056.19-.114.293-.178.73-.459 1.292-1.038 1.292-1.883 0-.948-.743-1.564-1.666-1.564-.851 0-1.657.398-1.712 1.533H6.304C6.364 4.693 8.18 3.5 10.294 3.5c2.306 0 3.894 1.447 3.894 3.488 0 1.382-.695 2.288-1.805 2.952l-.238.144c-.79.475-1.009.607-1.02 1.777V12zm.17 3.012a1.344 1.344 0 0 1-1.327 1.328 1.32 1.32 0 0 1-1.328-1.328 1.318 1.318 0 0 1 1.328-1.316c.712 0 1.322.592 1.328 1.316z"></path>
                      </svg>
                    </span>
                    <span class="Polaris-VisuallyHidden">Secondary menu</span>
                  </span>
                </button>
              </div>
            </div>
          </div> -->
          
          <div>
            <div class="Polaris-TopBar-Menu__ActivatorWrapper">
              <button id="user-button" type="button" class="Polaris-TopBar-Menu__Activator" tabindex="0" aria-controls="Polarispopover2" aria-owns="Polarispopover2" aria-expanded="false">
                <div class="Polaris-MessageIndicator__MessageIndicatorWrapper">
                  <span aria-label="Avatar with initials D" role="img" class="Polaris-Avatar Polaris-Avatar--sizeSmall Polaris-Avatar--styleThree">
                    <span class="Polaris-Avatar__Initials">
                      <svg class="Polaris-Avatar__Svg" viewBox="0 0 40 40">
                        <text x="50%" y="50%" dy="0.35em" fill="currentColor" font-size="20" text-anchor="middle">D</text>
                      </svg>
                    </span>
                  </span>
                </div>
                <span class="Polaris-TopBar-UserMenu__Details">
                  <p class="Polaris-TopBar-UserMenu__Name">Maki</p>
                  <p class="Polaris-TopBar-UserMenu__Detail">Guru</p>
                </span>

                <div class="Polaris-Select">
                  <div class="Polaris-Select__Content" aria-hidden="true">
                    <span class="Polaris-Select__SelectedOption">Today</span>
                    <span class="Polaris-Select__Icon">
                      <span class="Polaris-Icon">
                        <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                          <path d="M10 16l-4-4h8l-4 4zm0-12l4 4H6l4-4z"></path>
                        </svg>
                      </span>
                    </span>
                  </div>
                  <div class="Polaris-Select__Backdrop"></div>
                </div>
              </div>

              </button>
          </div>

        </div>

      </div>
    </div>

    <div class="Polaris-Frame__ContextualSaveBar Polaris-Frame-CSSAnimation--startFade"></div>
    <main class="Polaris-Frame__Main" id="AppFrameMain" data-has-global-ribbon="false">
      <a id="AppFrameMainContent" tabindex="-1"></a>
      <div class="Polaris-Frame__Content"></div>
    </main>

  </div>

  <div class="Polaris-Frame-ToastManager" aria-live="polite"></div>

</div>

<script>
  // $(document).ready(function() {
  //   $('#user-button').on('click', function() {
  //     $(this).find('.Polaris-Select').toggleClass('select-open');
  //   });
  // });
</script>